@font-face {
  font-family: KingdomHearts;
  src: url(DFPW5_EUR.ttf);
}
@font-face {
  font-family: KHTitles;
  src: url(KH2_ALL_MENU_I.TTF);
}
* {
  font-family: 'KingdomHearts', sans-serif;
}
body {
  background-image: url(symbolsbg.webp);
}
img {
  width: 300px;
  height: auto;
}
.wholePlayer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}